@import "tailwindcss";
@plugin "daisyui";

:root {
  --text: white;
  --sub-text: rgba(255, 255, 255, 0.637);
  --background: rgb(0, 0, 0);
  --foreground: rgba(0, 0, 0, 0.568);
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-animation {
  animation: nav-animation 1s ease forwards;
  transition: 2s ease;
}

@keyframes nav-animation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hamburger-nav-animation {
  animation: hamburger-nav-animation 0.25s ease forwards;
  transition: 0.25s ease;
}

@keyframes hamburger-nav-animation {
  0% {
      opacity: 0;
      transform: translateY(-500px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}