@import "tailwindcss";
@plugin "daisyui";

:root {
  --icons: #000000;
  --dark-text: rgb(1, 1, 1);
  --sub-dark-text: rgba(0, 0, 0, 0.671);
  --light-text: rgb(255, 255, 255);
  --sub-light-text: rgba(255, 255, 255, 0.637);
  --background: rgb(255, 255, 255);
  --foreground: rgba(5, 5, 5, 0.363);
  --light-foreground: rgba(255, 255, 255, 0.13);
  --red-button: #7c0000;
  --green-button: #105200da;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.top-to-down-animation {
  animation: top-to-down-animation 0.25s ease forwards;
  transition: 2s ease;
}

@keyframes top-to-down-animation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.right-to-left-animation {
  animation: right-to-left-animation 0.25s ease forwards;
  transition: 2s ease;
}

@keyframes right-to-left-animation {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.left-to-right-animation {
  animation: left-to-right-animation 0.25s ease forwards;
  transition: 2s ease;
}

@keyframes left-to-right-animation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* .hamburger-nav-animation {
  animation: hamburger-nav-animation 0.25s ease forwards;
  transition: 0.25s ease;
}

@keyframes hamburger-nav-animation {
  0% {
      opacity: 0;
      transform: translateX(250px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
} */

/* .loginInfo-animation {
  animation: loginInfo-animation 0.25s ease forwards;
  transition: 0.25s ease;
}

@keyframes loginInfo-animation {
  0% {
      opacity: 0;
      transform: translateX(-950px);
      transform: translateY(-350px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
      transform: translateY(0);
  }
} */

.productCard-animation {
  animation: productCard-animation 10s linear infinite;
}

@keyframes productCard-animation {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360);
  }
}